.user-filterbar {
  margin-bottom: 16px;
  align-items: center;
}

.user-filterbar__label {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #13294B;
  font-size: 16px;
}

.user-filterbar__icon {
  display: inline;
  vertical-align: middle;
}

.user-filterbar__label-text {
  margin-left: 6px;
}

.user-filterbar__select {
  width: 180px;
}

.user-filterbar__tag {
  font-weight: 600;
  font-size: 14px;
  padding: 2px 8px;
  height: 24px;
  line-height: 20px;
  border-radius: 4px;
} 